@import "fonts";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: $text;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
}
.content {
  flex: 1 0 auto;
  &.page-content {
    background-color: $grey;
  }
}
.footer {
  flex: 0 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: $text;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

@media (max-width: 720px) {
  .container-fluid {
    padding: 0 15px;
  }
}

.title {
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
  color: $bg;
}

.rate-star {
  display: inline-block;
  margin-right: 13px;
}

.breadcrumbs {
  &__inner {
    padding: 45px 0 40px;
  }
  &__list {
    li {
      position: relative;
      display: inline-block;
      & + li {
        padding-left: 24px;
        &::before {
          content: "-";
          position: absolute;
          left: 8px;
          color: $green;
        }
      }
    }
  }
  &__link {
    color: #b0bec5;
    &--active {
      color: $bg;
    }
  }
}

.angel-right {
  position: relative;
  display: inline-block;
  padding-left: 15px;
  &::before {
    content: "\f105";
    position: absolute;
    left: 0;
    color: $green;
    font-size: 14px;
    font-family: 'icomoon';
  }
}
