@import "vars";
@import "global";
@import "fonts";
// Start header
.header {
  background-color: #fff;
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.header__text {
  margin-left: auto;
  margin-right: 50px;
  span {
    color: $red;
  }
}

.header__btn-menu {
  display: none;
}

.header__btn {
  display: inline-block;
  width: 72px;
  padding: 4px;
  font-size: 12px;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  & + & {
    margin-left: 6px;
  }
  &--login,
  &--logout {
    background-color: $green;
  }
}

.header__btn--register {
  background-color: $red;
}

.header__menu {
  background-color: $bg;
}

.menu {
  display: flex;
  align-items: center;
  height: 60px;
}

.menu__list {
  display: inline-block;
  & + .menu__list {
    margin-left: 30px;
  }
}

.menu__link {
  font-size: 14px;
  color: #fff;
}

.header__box {
  display: flex;
  align-items: center;
}

.menu__btn,
.header__btn-menu {
  display: none;
}

.header__circle {
  &.active {
    display: block;
  }
  display: none;
  display: inline-block;
  position: relative;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #f5f5f5;
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #a0a0a0;
    font-size: 14px;
  }

  span {
    position: absolute;
    right: -7px;
    top: -7px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    font-size: 11px;
    color: #fff;
  }
}

.notification {
  span {
    background-color: $yellow;
  }
}

.message {
  span {
    background-color: $tomato;
  }
}

.basket {
  margin-right: 25px;

  span {
    background-color: $green;
  }
}

.user__box {
  position: relative;
  height: 90px;
  margin-top: 42px;
  &:hover {
    .user__menu {
      height: auto;
      border-width: 1px;
      padding: 20px;
      overflow: auto;
    }
  }
}

.basket__box,
.message__box,
.notification__box {
  position: relative;
  height: 90px;
  margin-top: 42px;
  margin-top: 54px;
  margin-left: 15px;

  &:hover {
    .circle__menu {
      height: auto;
      overflow: hidden;
    }
    .circle__item {
      padding: 23px 23px;
      border-width: 1px;
    }
    .header__circle::before {
      color: $bg;
    }
  }
}

.user {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  padding-right: 50px;
  &::before {
    content: "\f107";
    position: absolute;
    top: 0;
    right: 0;
    font-family: "icomoon";
    font-size: 16px;
    color: #707070;
  }
  &__inner {
    display: flex;
    align-items: center;
  }

  &__images {
    width: 34px;
    height: 34px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 15px;
  }
  &__info {
    font-size: 14px;
    line-height: 24px;
  }
  &__name {
    font-weight: 500;
    color: #222;
  }
  &__money {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: $green;
  }
}

.header__btn--off {
  display: none;
}

.header__btn--logout {
  display: none;
  &.header__btn--on {
    display: block;
  }
}

.user__menu {
  width: 158px;
  position: absolute;
  top: 69px;
  left: 20px;
  border: 0px solid #cccccc;
  border-left-width: 1px;
  border-right-width: 1px;
  background-color: #fff;
  padding: 0 20px;
  transition: all 0.3s;
  height: 0;
  overflow: hidden;
  a {
    font-size: 12px;
    color: #546e7a;
    margin-bottom: 15px;
  }
}

.circle__menu {
  position: absolute;
  z-index: 10;
  top: 62px;
  right: 0;
  height: 0;
  overflow: hidden;
  border-top: 1px solid #cccccc;
  transition: all 1s;
}

.notification__menu,
.message__menu {
  .circle__images {
    margin-right: 20px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  .circle__info {
    line-height: 18px;
  }
}

.circle__item {
  width: 268px;
  background-color: #fff;
  border: 0px solid #cccccc;
  border-top: none;
  background-color: #ffffff;
  padding: 0 23px;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.5s;
  &::before {
    position: absolute;
    top: 27px;
    right: 28px;
    font-size: 16px;
    color: #b0bec5;
  }
}

.icons__color::before {
  color: $tomato;
}

.circle__images {
  margin-right: 15px;
}

.circle__info-name {
  font-weight: 500;
  color: $bg;
}

.circle__info-theme {
  font-size: 12px;
  color: $green;
}

.circle__info-price {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.circle__info-date {
  font-size: 10px;
  color: #707070;
}

.basket__sumn {
  background-color: #fff;
  padding: 16px 17px 12px;
  border: 1px solid #cccccc;
  border-top: none;
}

.basket__title {
  display: flex;
  justify-content: space-between;
  padding-left: 13px;
  padding-right: 22px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 700;
  color: $bg;
}

.basket__btn {
  display: inline-block;
  padding: 12px 15px;
  font-size: 14px;
  font-weight: 700;
  color: #f4f6f5;
  background-color: $green;
  & + .basket__btn {
    margin-left: 6px;
  }
  &--checkaut {
    background-color: $red;
  }
}
// finis header

// start modal

#modal {
  background-color: $green;
  max-width: 730px;
  width: 100%;
  padding: 90px 0 100px;
}

.login__wrapper {
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  label {
  }
  input {
    display: block;
    width: 100%;
    height: 43px;
    margin-bottom: 8px;
    border: none;
    background-color: #76ae36;
    color: #fff;
    font-size: 14px;
    padding: 0 40px;
    outline: transparent;

    &::placeholder {
      color: #fff;
    }
  }
  button {
    margin-top: 19px;
    padding: 18px 0 16px;
    width: 140px;
    text-transform: uppercase;
    background-color: #fff;
    border: none;
    margin-right: 10px;
    font-weight: 700;
    color: #000;
    text-align: center;
    box-shadow: 0 2px 2px rgba(118, 174, 54, 0.75);
  }
}

.creat-acc {
  display: inline-block;
  width: 246px;
  margin-top: 19px;
  text-align: center;
  background-color: #76ae36;
  padding: 15px 0 15px 28px;
  color: #fff;
  font-size: 18px;
  position: relative;
  &::before {
    content: "\f044";
    font-family: "icomoon";
    position: absolute;
    left: 35px;
    top: 15px;
  }
}

.fancybox-button svg path {
  color: #fff;
}

.lost__pass {
  display: block;
  margin-top: 20px;
  color: #fff;
  font-size: 18px;
}

.login__label {
  position: relative;
  display: block;
  width: 100%;
  &::before {
    position: absolute;
    left: 18px;
    top: 10px;
    font-family: "icomoon";
    font-size: 14px;
    color: #fff;
  }
  &--name {
    &::before {
      content: "\f007";
    }
  }

  &--pass {
    &::before {
      content: "\f023";
    }
  }
}
.login__title {
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

// end modal

// Start search

.search {
  min-height: 533px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &.page-search {
    min-height: 230px;
    .search__inner {
      padding: 55px 0 70px;
      &-text {
        margin-bottom: 20px;
      }
    }
  }
}

.search__inner {
  padding: 135px 0 100px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-align: center;
  &-title {
    margin-bottom: 10px;
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
  }
  &-text {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
  }
  &-form {
    position: relative;
    max-width: 670px;
    margin: 0 auto;
    input {
      display: block;
      width: 100%;
      height: 56px;
      padding: 0 65px 0 25px;
      border-radius: 4px;
      border: none;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      font-size: 14;
      font-weight: 500;
      outline: none;
      &::placeholder {
        color: #90a4ae;
      }
    }
    button {
      position: absolute;
      border: 0;
      right: 20px;
      top: 16px;
      outline: transparent;
    }
  }
}
// Finish search

// Start product

.product {
  padding: 110px 0;
  font-family: "Roboto", sans-serif;
  background-color: $grey;
}

.product__inner-btn {
  margin-bottom: 60px;
  text-align: center;
  button {
    padding: 12px 21px;
    border: none;
    background-color: #fff;
    color: $bg;
    cursor: pointer;
    & + button {
      margin-left: 5px;
    }
    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
    }
  }
}

.product__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product__item {
  max-width: 442px;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  &-img {
    display: block;
    min-height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
    padding: 10px 30px;
    font-weight: 500;
    border-bottom: 1px solid #e7ecf2;
  }
  &-name {
    max-width: 310px;
  }
  &-title {
    display: block;
    color: $bg;
    font-size: 18px;
  }
  &-category {
    display: block;
    font-size: 14px;
    color: $green;
  }
  &-price {
    font-size: 20px;
    color: $bg;
    font-weight: 700;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 30px;
  }
  &-author {
    display: flex;
    align-items: center;
    max-width: 250px;
    span {
      font-size: 14px;
      font-weight: 500;
    }
    .avatar {
      display: inline-block;
      min-width: 30px;
      height: 30px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-right: 14px;
    }
  }
  &-star {
    font-size: 12px;
    span {
      color: $bg;
    }
  }
}

.product__bottom-btn {
  text-align: center;
  button {
    margin: 45px 5px 0;
    padding: 20px 30px;
    border: none;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    color: $bg;
    cursor: pointer;
    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
    }
  }
}

// finish product
//  Start product-slider
.product-slider {
  padding: 110px 0 120px;
  .slick-dots {
    margin-top: 50px;
    text-align: center;
    li {
      display: inline-block;
      margin-left: 3px;
      margin-right: 3px;
      &.slick-active {
        button {
          background-color: $green;
        }
      }
      button {
        width: 22px;
        height: 22px;
        font-size: 0;
        padding: 0;
        border: none;
        border-radius: 50%;
        background-color: rgb(232, 232, 232);
        cursor: pointer;
        outline: transparent;
      }
    }
  }
}
//  end product-slider
//  Start advantages
.advantages {
  background-color: $bg;
  padding: 110px 0;
}

.advantages__title {
  color: #fff;
}

.advantages__inner {
  display: flex;
  justify-content: space-between;
}

.advantages__item {
  max-width: 370px;
  width: 100%;
  text-align: center;
  padding: 0 15px;

  &:hover {
    .advantages__item-images {
      background-color: $green;
    }
    .advantages__item-title {
      color: $green;
    }
    svg {
      path {
        fill: #fff;
        transition: all 0.5s;
      }
    }
  }
  &-images {
    width: 114px;
    height: 114px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
    transition: all 0.5s;
    svg {
    }
  }
  &-title {
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 500;
    color: #fff;
    transition: all 0.5s;
  }
  &-text {
    font-size: 15px;
    line-height: 24px;
    color: #b0bec5;
  }
}
.icosvg-1 {
  svg {
    width: 50px;
  }
}
.icosvg-2 {
  svg {
    width: 70px;
  }
}
.icosvg-3 {
  svg {
    width: 86px;
  }
}
//  end advantages
// start author
.author {
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/content/author-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &__box {
    max-width: 650px;
    width: 100%;
    min-height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green;
  }
  &__title {
    max-width: 260px;
    margin-right: 45px;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    span {
      font-weight: 700;
    }
  }
  &__link {
    font-size: 18px;
    line-height: 36px;
    padding: 14px 40px;
    background-color: #fff;
  }
}

// end author

// Start tutorial
.tutorial {
  padding: 70px 0 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 370px;
    width: 100%;
  }
}

.tutorial__item {
  &-images {
    min-height: 270px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &-title {
    padding: 30px 10px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    font-size: 24px;
    background-color: #f8f8f8;
    color: $bg;
  }
}

// end tutorial

// start footer
.footer {
  background-color: $bg;
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 80px;
  }
}

.footer__col {
  max-width: 270px;
  width: 100%;
  &--menu {
    max-width: 220px;
  }
  &-title {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 2px;
      width: 51px;
      height: 3px;
      background-color: $green;
    }
  }
  &-text {
    color: #b7c3c8;
    margin-bottom: 30px;
  }
}

.footer__info {
  position: relative;
  margin-top: 18px;
  padding-left: 30px;
  font-weight: 500;
  color: #fff;
  &::before {
    content: "\f041";
    position: absolute;
    left: 0;
    font-family: "icomoon";
    color: $green;
    font-size: 18px;
  }
  &--phone {
    &::before {
      content: "\f095";
    }
  }
}

.footer__col {
  &-list {
    a {
      position: relative;
      padding-left: 22px;
      display: inline-block;
      margin-bottom: 15px;
      color: #b7c3c8;
      &::before {
        content: "\f105";
        position: absolute;
        left: 0;
        font-family: "icomoon";
        font-size: 18px;
        color: $green;
      }
    }
  }
}

.footer__social-link {
  margin-bottom: 33px;
  li {
    display: inline-block;
    & + li {
      margin-left: 7px;
    }
  }
  a {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url(../images/css_sprites.png);
  }
}

.link-facebook {
  background-position: -196px -28px;
}
.link-twitter {
  background-position: -28px -0;
}
.link-youtube {
  background-position: -0 -28px;
}
.link-pinterest {
  background-position: -83px -56px;
}
.link-linkedin {
  background-position: -56px -56px;
}
.footer__copy {
  border-top: 1px solid #424d53;
}
.footer__copy-text {
  padding: 25px 0;
  text-align: center;
  font-size: 15px;
  color: #919699;
}

.footer__form {
  position: relative;
  &-title {
    margin-bottom: 15px;
    font-size: 20px;
    color: #fff;
  }
  input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 50px 0 13px;
    border: none;
    background-color: #2f3c43;
    font-size: 14px;
    color: #fff;
    &::placeholder {
      color: #697378;
    }
  }
  button {
    position: absolute;
    width: 43px;
    height: 40px;
    bottom: 0;
    right: 0;
    background-color: $green;
    border: none;
    cursor: pointer;
    &::before {
      content: "\f124";
      position: absolute;
      top: 11px;
      left: 13px;
      font-size: 20px;
      font-family: "icomoon";
      color: #fff;
    }
  }
}

// end footer

// start ptoduct-page
.product-page__inner {
  display: flex;

  padding-bottom: 110px;
}

.product-page__aside {
  margin-right: 30px;
}

.aside__item {
  width: 270px;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  padding: 0 32px 32px;
  margin-bottom: 30px;
}

.aside__title {
  font-weight: 700;
  border-bottom: 1px solid #dde3e8;
  font-size: 20px;
  padding: 22px 0 19px;
  color: $bg;
}

.category__list {
  padding-top: 10px;
  li {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 20px;
    &::before {
      content: "\f105";
      position: absolute;
      left: 0;
      font-size: 18px;
      font-family: "icomoon";
      color: #8bc34a;
    }
  }
  a {
    color: $bg;
  }
  span {
    color: #90a4ae;
    margin-left: 10px;
  }
}
.price-range {
  form {
    padding: 20px 0 25px;
  }
  button {
    width: 100%;
    display: block;
    border: none;
    position: relative;
    margin-top: 55px;
    padding: 16px 10px;
    background-color: $green;
    text-align: center;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    &::before {
      content: "\f002";
      position: absolute;
      top: 15px;
      left: 58px;
      font-family: "icomoon";
      color: #fff;
      font-size: 15px;
    }
  }
}

.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
  color: #78909c;
  font-size: 15px;
  line-height: 1.333;
  text-shadow: none;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}
.irs--flat .irs-from:before,
.irs--flat .irs-single:before,
.irs--flat .irs-to:before {
  display: none;
}
.irs--flat .irs-handle {
  top: 19px;
}
.irs-min,
.irs-max {
  display: none;
}

.irs--flat .irs-line {
  height: 5px;
  background-color: #f2f5f8;
}
.irs--flat .irs-bar {
  height: 5px;
  background-color: $bg;
}

.irs--flat .irs-handle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 4px solid $green;
  background-color: #fff;
}

.irs--flat .irs-handle > i:first-child {
  display: none;
}

.irs-from,
.irs-single,
.irs-to {
  top: 45px;
}

.product-page__aside {
  .product__item-img {
    min-height: 120px;
  }
  .product__item {
    box-shadow: none;
  }
  .product__item-content {
    padding: 0;
    min-height: 75px;
    border-bottom: none;
  }
  .product__item-info {
    padding: 0;
    min-height: 0;
  }
  .product__item-title {
    font-size: 16px;
  }
  .product__item-price {
    font-size: 16px;
  }
  .product__item-starnum {
    display: none;
  }
  .rate-star {
    margin-right: 0;
  }
  .jq-ry-container {
    padding: 0;
  }
  .product__item {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #dde3e8;
  }
}
.aside__product-item {
  .product__item:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  .product__item:first-child {
    margin-top: 25px;
  }
}

.top-sellars__link {
  padding: 16px 10px;
  display: block;
  text-align: center;
  color: #fff;
  background-color: $green;
  font-weight: 500;
}

.product-page__content {
  width: 100%;
}
.product-page__filter {
  height: 60px;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  padding: 0 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #90a4ae;
    margin-left: 12px;
    outline: transparent;
    &.active {
      color: $green;
    }
  }
}
button.icon-sort-amount-desc {
  font-size: 18px;
  color: #455a64;
  margin-left: 0 !important;
  margin-right: 12px;
}
button.icon-sort {
  color: #707070;
  font-size: 14px;
}
.product-page__filter-sort {
  color: #707070;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.product-page__content {
  .product__item {
    max-width: 270px;
    background-color: #fff;
    transition: all 0.5s;
  }
  .product__item-img {
    min-height: 180px;
  }
  .product__item-content {
    padding: 10px 20px;
  }
  .product__item-title {
    font-size: 16px;
  }
  .product__item-info {
    min-height: 65px;
    padding: 10px 20px;
  }
  .rate-star {
    margin-right: 5px;
    padding: 0;
  }
}

.product-page__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.pagination__list {
  li {
    display: inline-block;
  }
  & + li {
    margin-left: 6px;
  }
  a,
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
    font-size: 16px;
    color: $bg;
    font-weight: 500;
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
    background-color: #fff;
    &.active {
      color: #fff;
      background-color: #e74c3c;
    }
  }
}
.product__item-text {
  display: none;
}
.product__item-price {
  span {
    display: none;
  }
}
.product__item-list {
  display: none;

  .icon-comment-o,
  .icon-heart-o {
    position: relative;
    display: inline-block;
    font-size: 12px;
    color: #b0bec5;
    padding-left: 50px;
    border-left: 2px solid #aeb4bb;
    span {
      color: $bg;
    }
    &::before {
      position: absolute;
      top: -4px;
      left: 20px;
      color: $green;
      font-size: 16px;
    }
  }
}
.icon-comment-o {
  padding-right: 30px;
  &::before {
    top: -4px;
  }
}

.product-page__items {
  .product__item {
    &.list {
      max-width: 100%;
      .product__item-img {
        width: 240px;
        min-height: 100%;
        float: left;
      }
      .product__item-text {
        display: block;
        margin-top: 19px;
        color: #70838d;
        font-size: 14px;
        line-height: 18px;
      }
      .product__item-price {
        font-size: 30px;
        text-align: center;
        span {
          display: block;
          margin-top: 22px;
          color: #aeb4bb;
          font-size: 13px;
        }
      }
      .product__item-name {
        max-width: 480px;
      }
      .product__item-content {
        padding: 26px 32px 21px;
      }
      .product__item-list {
        display: block;
      }
      .product__item-star {
        margin-left: auto;
        margin-right: 30px;
      }
    }
  }
}

// end ptoduct-page
// product-one

.product-one {
  padding-bottom: 100px;
}

.product-one__inner {
  display: flex;
}

.product-one__content {
  margin-right: 31px;
  max-width: 870px;
}

.product-one__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  border: 1px solid #d7d7d7;
  background-color: #fff;
}

.product-one__images {
  max-width: 829px;
  width: 100%;
  height: 422px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.product-one__title {
  margin: 30px 0 20px;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  color: $bg;
}

.product-one__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #707070;
  margin-bottom: 35px;
  margin-top: 20px;
}

.product-one__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
  text-align: center;
}

.product-one__link {
  a {
    padding: 16px 8px;
    width: 150px;
    color: $grey;
    font-size: 14px;
    & + a {
      margin-left: 20px;
    }
  }
  &--red {
    background-color: $red;
  }
  &--grey {
    background-color: #455a64;
  }

  &--green {
    background-color: $green;
  }
}

.product-one__social {
  a {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 50px;
    & + a {
      margin-right: 3px;
    }
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 18px;
      color: #fff;
    }
  }
}

.icon-facebook-f {
  background-color: #6370b6;
}

.icon-twitter {
  background-color: #64b5f6;
}

.icon-linkedin {
  background-color: #4f71ce;
}

.icon-pinterest-p {
  background-color: #d32f2f;
}

.product-one__more {
}

.product-one__more-title {
  padding: 18px 20px;
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 500;
  color: $bg;
  border: 1px solid #d7d7d7;
  background-color: #fff;
}

.product-one__more-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.productmini {
  margin-bottom: 27px;
  display: flex;
  height: 90px;
  align-items: center;
  box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
  background-color: #ffffff;
}

.productmini__images {
  width: 100px;
  height: 90px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.productmini__info {
  padding: 19px 21px 10px;
}

.productmini__name {
  font-size: 14px;
  font-weight: 500;
  color: $bg;
}

.productmini__theme {
  font-size: 12px;
  color: $green;
}

.productmini__price {
  font-size: 18px;
  font-weight: 700;
  color: $bg;
}

.product-one__tabs {
  margin-bottom: 55px;
}

.tabs {
  display: flex;
  text-align: center;
  .tab {
    width: 100%;
    padding: 20px 0;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    font-size: 16px;
    color: #70838d;
    cursor: pointer;

    & + .tab {
      border-left: 1px solid #d7d7d7;
    }
  }
}

.tab__content {
  padding: 30px 30px 50px;
  background-color: #fff;
  border-top: none;
  border: 1px solid #d7d7d7;
}

.tab-item {
  display: none;
  &:first-child {
    display: block;
  }
}

.tab-items__list {
  display: block;
  column-count: 2;
  column-gap: 25px;
  li {
    max-width: 270px;
    width: 100%;
    font-size: 16px;
    color: #707070;
    padding: 10px 0 10px 13px;
  }
}

.price__box {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.price__product {
  font-size: 22px;
  font-weight: 500;
  color: $red;
}

.product__price {
  button {
    position: relative;
    margin-bottom: 7px;
    padding: 15px 5px 15px;
    display: block;
    width: 100%;
    box-shadow: 0 1px 2px rgba(69, 90, 100, 0.75);
    border: none;
    font-family: "Roboto", sans-serif !important;
    background-color: $text;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    &::before {
      font-family: "icomoon";
      color: #fff;
      font-size: 16px;
      padding-right: 8px;
    }
  }
  .icon-heart-o {
    background-color: #42a5f5;
  }
  .icon-shopping-cart {
    background-color: $green;
  }
}

.product__author-box {
  padding: 25px 0;
  display: flex;
}

.author__avatar {
  margin-right: 14px;
}

.author__name {
  font-size: 18px;
  color: $bg;
  margin-bottom: 13px;
}

.author__info-link {
  font-size: 13px;
  color: #707070;
  padding: 6px 9px 5px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}

.author__awarda-list {
  li {
    position: relative;
    display: inline-block;
    text-align: center;
    & + li {
      margin-left: 4px;
    }
    &::before {
      position: absolute;
      top: 6px;
      left: 0;
      right: 0;
      color: #fff;
      font-size: 20px;
    }
  }
}

.icon-meh-o {
  background-image: url(../images/awords/orange.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 34px;
  height: 37px;
}
.icon-pagelines {
  background-image: url(../images/awords/red.jpg);
  width: 34px;
  height: 37px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.icon-flash {
  background-image: url(../images/awords/blue.jpg);
  width: 34px;
  height: 37px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.icon-foursquare {
  background-image: url(../images/awords/green.png);
  width: 34px;
  height: 37px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.icon-yen {
  background-image: url(../images/awords/grey.jpg);
  width: 34px;
  height: 37px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.aside__item {
  &--sales {
    padding-bottom: 26px;
    display: flex;
    align-items: center;
  }
}

.aside__item-sales {
  padding-top: 23px;
  font-weight: 300;
  font-size: 16px;
  color: #707070;

  span {
    display: inline-block;
    font-family: "Roboto", sans-serif !important;
    font-size: 20px;
    font-weight: 700;
    color: $bg;
    padding-right: 14px;
    &::before {
      font-family: "icomoon";
      padding-right: 19px;
      color: #a6b5bb;
      font-size: 20px;
    }
  }
}

.information__line {
  font-size: 14px;
  font-weight: 500;
  color: $bg;
  margin: 20px 0;
  span {
    display: inline-block;
    color: #70838d;
    font-weight: 400;
  }
  &--text {
    display: block;
  }
}
// / end product-one

// start page 404
.page-404__wrapper {
  border: 1px solid #d7d7d7;
  background-color: #fff;
  margin-bottom: 150px;
}

.page-404__head {
  padding: 23px 27px;
  font-size: 24px;
  font-weight: 500;
  color: #444444;
}

.page-404__inner {
  text-align: center;
  background-color: $green;
}

.page-404__404 {
  padding-top: 90px;
  padding-bottom: 50px;
  line-height: 300px;
  color: #fffefe;
  font-size: 300px;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    margin-left: 15px;
    width: 150px;
    height: 292px;
    background-image: url(../images/content/page-404.png);
  }
}

.page-404__title {
  margin-bottom: 33px;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 6px;
  color: #fff;
}

.page-404__text {
  max-width: 529px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 56px;
}

.page-404__link {
  display: inline-block;
  padding: 20px 30px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  color: #ffffff;
  border: 2px solid #ffffff;
  margin-bottom: 100px;
}

// end page 404

// start about

.about {
  padding: 42px 0 144px;
}

.about__wrapper {
  background-color: #fff;
  padding: 21px 0 0;
  border: 1px solid #d7d7d7;
  background-color: #ffffff;
}

.about__head {
  padding: 0 33px 25px;
  font-size: 24px;
  font-weight: 500;
  color: $bg;
  border-bottom: 1px solid #d7d7d7;
}

.about__inner {
  padding: 44px 50px 0;
}

.about__title {
  color: #444444;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 23px;
}

.about__descr {
  color: #707070;
  line-height: 24px;
  margin-bottom: 53px;
}
// end about

// start contact
.contact {
  padding-bottom: 137px;
  &__wrapper {
    background-color: #fff;
    padding: 21px 0 0;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
  }

  &__head {
    padding: 0 40px 25px;
    font-size: 24px;
    font-weight: 500;
    color: $bg;
    border-bottom: 1px solid #d7d7d7;
  }

  &__inner {
    padding: 35px 40px 15px;
  }

  &__map {
    margin-bottom: 50px;
    iframe {
      width: 100%;
      height: 415px;
    }
  }

  &__box {
    display: flex;
  }

  &__info {
    max-width: 338px;
    margin-right: 30px;
    width: 100%;
  }

  &__info-item {
    margin-bottom: 30px;
  }

  &__info-title {
    padding-bottom: 20px;
    position: relative;
    font-family: "Roboto", sans-serif !important;
    font-size: 20px;
    font-weight: 500 !important;
    color: $bg;
    padding-left: 40px;

    &::after {
      content: "";
      position: absolute;
      width: 44px;
      height: 4px;
      left: 40px;
      bottom: 0;
      background-color: $green;
    }
    &::before {
      position: absolute;
      left: 0;
      color: $green;
      font-size: 24px;
      font-family: "icomoon";
    }
  }

  &__info-content {
    display: block;
    max-width: 272px;
    width: 100%;
    padding-left: 43px;
    margin-top: 20px;
    color: #707070;
    line-height: 24px;
  }

  &__form-title {
    margin-bottom: 23px;
    font-size: 24px;
    font-weight: 500;
    color: #333;
  }

  &__form-row {
    display: flex;
    justify-content: space-between;
  }

  &__form {
    input {
      display: inline-block;
      width: 350px;
      margin-bottom: 30px;
      border: none;
      height: 43px;
      padding: 0 17px;
      background-color: #f1f4f5;

      & + input {
        margin-left: 25px;
      }
      &::placeholder {
        font-size: 15px;
        color: #7a7a7a;
      }
    }

    textarea {
      display: block;
      width: 100%;
      height: 190px;
      border: none;
      padding: 13px 17px;
      margin-bottom: 22px;
      background-color: #f1f4f5;
      resize: none;
      &::placeholder {
        font-size: 15px;
        color: #7a7a7a;
      }
    }

    button {
      display: inline-block;
      width: 190px;
      padding: 20px 5px;
      border: none;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
      background-color: $green;
      color: #fff;
    }
  }
}
// end contact

// start settings
.product-one__tabs.settings__tabs {
  display: flex;
  .tabs {
    display: block;
    text-align: left;
    max-width: 270px;
    width: 100%;
    margin-right: 30px;
    border: 1px solid #d7d7d7;
    border-bottom: none;
    height: 100%;

    span {
      display: block;
      width: 100%;
      background-color: #fff;
      border-bottom: 1px solid hsl(0, 0%, 84%);
      padding: 17px 17px 17px 50px;
      color: #707070;
      font-size: 14px;
      font-weight: 500;
      &::before {
        left: 24px;
        color: #444444;
      }
      &.active {
        border-bottom: 1px solid $green;
        color: #37474f;
        &::before {
          color: $green;
        }
      }
    }
  }
  .tabs .tab + .tab {
    border-left: none;
  }
  .tab__content {
    width: 100%;
    padding: 0;
    border: none;
    background-color: transparent;
  }
}

.settings {
  padding-bottom: 100px;
}
.page__box {
  border: 1px solid #d7d7d7;
  background-color: #ffffff;
  min-height: 100%;
}

.page__box-title {
  font-size: 24px;
  font-weight: 500;
  border-bottom: 1px solid #d7d7d7;
  padding: 18px 34px;
  color: $bg;
}

.page__box-content {
  padding: 30px 35px 80px;
}

.settings__line {
  margin-bottom: 21px;
  display: flex;
  label {
    color: #444444;
    width: 260px;
    align-items: center;
  }
  input {
    max-width: 540px;
    width: 100%;
    height: 40px;
    color: #000;
    padding: 0 10px;
    border: 1px solid #d7d7d7;
    background-color: #f9f9f9;
  }
  select {
    max-width: 540px;
    width: 100%;
    height: 40px;
    color: #000;
    padding: 0 10px;
    border: 1px solid #d7d7d7;
    background-color: #f9f9f9;
    color: #707070;
  }
}
// end settings

// start profile
.profile__inner {
  display: flex;
  margin-bottom: 30px;
}

.profile__aside {
  max-width: 270px;
  width: 100%;
  margin-right: 30px;
}
.author__name--profile {
  margin-bottom: 4px;
}

.profile__content {
  width: 100%;
}
.profile-status {
  padding: 4px 9px 5px 30px;
  border: 1px solid #cccccc;
  color: #70838d;
  font-size: 13px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 9px;
    top: 12px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
  }
}

.profile-one {
  &::before {
    background-color: $green;
  }
}

.profile-off {
  &::before {
    background-color: $red;
  }
}

.profile__aside-btn {
  margin-bottom: 13px;
}

.profile__aside-message {
  display: block;
  width: 100%;
  padding: 18px 10px;
  margin-bottom: 17px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0 1px 2px rgba(69, 90, 100, 0.75);
  background-color: #546e7a;
  color: #fff;
  position: relative;
  &::before {
    content: "\f003";
    font-family: "icomoon";
    color: #ffffff;
    font-size: 16px;
    padding-right: 12px;
  }
}

.profile__aside-following {
  display: block;
  width: 100%;
  padding: 18px 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0 1px 2px rgba(69, 90, 100, 0.75);
  background-color: $green;
  color: #fff;
}

.profile__banner {
  padding: 20px;
  border: 1px solid #d7d7d7;
  background-color: #ffffff;
  margin-bottom: 40px;
}

.profile__banner-img {
  min-height: 332px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.profile__items {
  display: flex;
  border: 1px solid #d7d7d7;
}

.profile__item {
  width: 25%;
  background-color: #fff;
  text-align: center;
  padding: 20px 5px 17px;
  & + & {
    border-left: 1px solid #dcdcdc;
  }
}

.profile__item-title {
  font-size: 14px;
  font-weight: 500;
  color: $bg;
}

.profile__item-content {
  color: #707070;
  font-weight: 400;

  &--sales {
    color: #000;
  }
}

.profile-settings {
  // .tab--setings {
  //   color: #707070;
  //   font-size: 14px;
  //   font-weight: 500 !important;
  //   font-family: "Roboto", sans-serif !important;
  //   &::before {
  //     padding-right: 14px;
  //     font-family: "icomoon";
  //     color: #d0d0d0 !important;
  //     font-size: 14px;
  //   }
  // }
  .product-one__tabs.settings__tabs {
    .tabs span {
      color: #707070;
      font-weight: 500 !important;
      font-family: "Roboto", sans-serif !important;
      &.active {
        color: #263238;
        &::before {
          color: $green !important;
        }
      }
      &::before {
        padding-right: 14px;
        font-family: "icomoon";
        color: #d0d0d0 !important;
        font-size: 14px;
      }
    }
  }
}

.personal-box {
  padding: 35px 40px 25px;
  border: 1px solid #d7d7d7;
  background-color: #fff;
}

.personal-box-title {
  font-size: 20px;
  font-weight: 700;
  color: $bg;
  margin-bottom: 25px;
}

.personal-box-text {
  color: #707070;
  line-height: 24px;
  margin-bottom: 40px;
}

.personal-box__item-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.personal-box__item-name {
  font-size: 16px;
  color: $bg;
  font-style: italic;
}

.personal-box__item-number {
  font-size: 16px;
  font-weight: 700;
  color: $bg;
}

.personal-box__item-line {
  height: 15px;
  background-color: #f4f4f4;
  border-radius: 3px;
  margin-bottom: 23px;
  span {
    display: block;
    border-radius: 3px;
    background-image: url(../images/icon/line.png);
    background-size: contain;
    height: 15px;
  }
}
// end profile

@import "media";
