@import "vars";
@import "global";
@import "fonts";
// Start header
.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.header__text {
  margin-left: auto;
  margin-right: 50px;
  span {
    color: $red;
  }
}

.header__btn {
  display: inline-block;
  width: 72px;
  padding: 4px;
  font-size: 12px;
  text-align: center;
  border-radius: 4px;
  color: #fff;
}

.header__btn--login {
  background-color: $red;
}

.header__btn--register {
  background-color: $green;
  margin-left: 7px;
}

.header__menu {
  background-color: $bg;
}

.menu {
  display: flex;
  align-items: center;
  height: 60px;
}

.menu__list {
  display: inline-block;
  & + .menu__list {
    margin-left: 30px;
  }
}

.menu__link {
  font-size: 14px;
  color: #fff;
}
// finis header

// Start search

.search {
  min-height: 533px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.search__inner {
  padding: 135px 0 100px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-align: center;
  &-title {
    margin-bottom: 10px;
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
  }
  &-text {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
  }
  &-form {
    position: relative;
    max-width: 670px;
    margin: 0 auto;
    input {
      display: block;
      width: 100%;
      height: 56px;
      padding: 0 65px 0 25px;
      border-radius: 4px;
      border: none;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      font-size: 14;
      font-weight: 500;
      outline: none;
      &::placeholder {
        color: #90a4ae;
      }
    }
    button {
      position: absolute;
      border: 0;
      right: 20px;
      top: 16px;
      outline: transparent;
    }
  }
}
// Finish search

// Start product

.product {
  padding: 110px 0;
  font-family: "Roboto", sans-serif;
  background-color: $grey;
}

.product__inner-btn {
  margin-bottom: 60px;
  text-align: center;
  button {
    padding: 12px 21px;
    border: none;
    background-color: #fff;
    color: $bg;
    cursor: pointer;
    & + button {
      margin-left: 5px;
    }
    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
    }
  }
}

.product__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product__item {
  max-width: 442px;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  &-img {
    display: block;
    min-height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
    padding: 10px 30px;
    font-weight: 500;
    border-bottom: 1px solid #e7ecf2;
  }
  &-name {
    max-width: 310px;
  }
  &-title {
    display: block;
    color: $bg;
    font-size: 18px;
  }
  &-category {
    display: block;
    font-size: 14px;
    color: $green;
  }
  &-price {
    font-size: 20px;
    color: $bg;
    font-weight: 700;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 30px;
  }
  &-author {
    display: flex;
    align-items: center;
    max-width: 250px;
    span {
      font-size: 14px;
      font-weight: 500;
    }
    .avatar {
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-right: 14px;
    }
  }
  &-star {
    font-size: 12px;
    span {
      color: $bg;
    }
  }
}

.product__bottom-btn {
  text-align: center;
  button {
    margin: 45px 5px 0;
    padding: 20px 30px;
    border: none;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    color: $bg;
    cursor: pointer;
    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
    }
  }
}

// finish product
//  Start product-slider
.product-slider {
  padding: 110px 0 120px;
  .slick-dots {
    margin-top: 50px;
    text-align: center;
    li {
      display: inline-block;
      margin-left: 3px;
      margin-right: 3px;
      &.slick-active {
        button {
          background-color: $green;
        }
      }
      button {
        width: 22px;
        height: 22px;
        font-size: 0;
        padding: 0;
        border: none;
        border-radius: 50%;
        background-color: rgb(232, 232, 232);
        cursor: pointer;
        outline: transparent;
      }
    }
  }
}
//  end product-slider
//  Start advantages
.advantages {
  background-color: $bg;
  padding: 110px 0;
}

.advantages__title {
  color: #fff;
}

.advantages__inner {
  display: flex;
  justify-content: space-between;
}

.advantages__item {
  max-width: 370px;
  width: 100%;
  text-align: center;
  padding: 0 15px;

  &:hover {
    .advantages__item-images {
      background-color: $green;
    }
    .advantages__item-title {
      color: $green;
    }
    svg {
      path {
        fill: #fff;
        transition: all 0.5s;
      }
    }
  }
  &-images {
    width: 114px;
    height: 114px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
    transition: all 0.5s;
    svg {
    }
  }
  &-title {
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 500;
    color: #fff;
    transition: all 0.5s;
  }
  &-text {
    font-size: 15px;
    line-height: 24px;
    color: #b0bec5;
  }
}
.icosvg-1 {
  svg {
    width: 50px;
  }
}
.icosvg-2 {
  svg {
    width: 70px;
  }
}
.icosvg-3 {
  svg {
    width: 86px;
  }
}
//  end advantages
// start author
.author {
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/content/author-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &__box {
    max-width: 650px;
    width: 100%;
    min-height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green;
  }
  &__title {
    max-width: 260px;
    margin-right: 45px;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    span {
      font-weight: 700;
    }
  }
  &__link {
    font-size: 18px;
    line-height: 36px;
    padding: 14px 40px;
    background-color: #fff;
  }
}

// end author

// Start tutorial
.tutorial {
  padding: 70px 0 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 370px;
    width: 100%;
  }
}

.tutorial__item {
  &-images {
    min-height: 270px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &-title {
    padding: 30px 10px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    font-size: 24px;
    background-color: #f8f8f8;
    color: $bg;
  }
}

// end tutorial

// start footer
.footer {
  background-color: $bg;
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 80px;
  }
}

.footer__col {
  max-width: 270px;
  width: 100%;
  &--menu {
    max-width: 220px;
  }
  &-title {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 2px;
      width: 51px;
      height: 3px;
      background-color: $green;
    }
  }
  &-text {
    color: #b7c3c8;
    margin-bottom: 30px;
  }
}

.footer__info {
  position: relative;
  margin-top: 18px;
  padding-left: 30px;
  font-weight: 500;
  color: #fff;
  &::before {
    content: "\f041";
    position: absolute;
    left: 0;
    font-family: "icomoon";
    color: $green;
    font-size: 18px;
  }
  &--phone {
    &::before {
      content: "\f095";
    }
  }
}

.footer__col {
  &-list {
    a {
      position: relative;
      padding-left: 22px;
      display: inline-block;
      margin-bottom: 15px;
      color: #b7c3c8;
      &::before {
        content: "\f105";
        position: absolute;
        left: 0;
        font-family: "icomoon";
        font-size: 18px;
        color: $green;
      }
    }
  }
}

.footer__social-link {
  margin-bottom: 33px;
  li {
    display: inline-block;
    & + li {
      margin-left: 7px;
    }
  }
  a {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url(../images/css_sprites.png);
  }
}

.link-facebook {
  background-position: -196px -28px;
}
.link-twitter {
  background-position: -28px -0;
}
.link-youtube {
  background-position: -0 -28px;
}
.link-pinterest {
  background-position: -83px -56px;
}
.link-linkedin {
  background-position: -56px -56px;
}
.footer__copy {
  border-top: 1px solid #424d53;
}
.footer__copy-text {
  padding: 25px 0;
  text-align: center;
  font-size: 15px;
  color: #919699;
}

.footer__form {
  position: relative;
  &-title {
    margin-bottom: 15px;
    font-size: 20px;
    color: #fff;
  }
  input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 50px 0 13px;
    border: none;
    background-color: #2f3c43;
    font-size: 14px;
    color: #fff;
    &::placeholder {
      color: #697378;
    }
  }
  button {
    position: absolute;
    width: 43px;
    height: 40px;
    bottom: 0;
    right: 0;
    background-color: $green;
    border: none;
    cursor: pointer;
    &::before {
      content: "\f124";
      position: absolute;
      top: 11px;
      left: 13px;
      font-size: 20px;
      font-family: 'icomoon';
      color: #fff;
    }
  }
}

// end footer
